[submodule "mos6502"]
	path = src/mos6502
	url = https://github.com/clydeshaffer/mos6502.git
[submodule "asm/CubicleKnight"]
	path = asm/CubicleKnight
	url = https://github.com/clydeshaffer/CubicleKnight.git
[submodule "src/imgui/ext/implot"]
	path = src/imgui/ext/implot
	url = git@github.com:epezent/implot.git
